{% extends 'base.html' %}
{% block title %} Django BlogIT {% endblock %}
{% block content %} 

  <style>
    .comment-user {
      margin-top: 20px !important;
    }
    .comment-user .comment {
      width: calc(100% - 60px);
    }
  </style>

  <!-- title -->
  <div class="post-header d-flex justify-content-between align-items-end">
    <div class="title">
      <h1>{{post.title}}</h1>
      <small>By {{post.author.first_name}} {{ post.author.last_name}} - {{ post.post_date }}</small>
    </div>
    <small>
      {% if user.is_authenticated  %}
        {% if user.id == post.author.id %}
        <a class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete</a>
        <a class="btn btn-success" href="{% url 'update_post' post.pk %}">Edit</a>
        {% endif %}
      {% endif %}
    </small>
  </div>
  <hr />
  <br />
 
  <!-- body -->
  {% if post.header_image %}
  <div class="image-header text-center">
    <img src="{{ post.header_image.url }}" width="95%">
  </div>   
  {% endif %}
  {{ post.body | safe}}
  <br />
  <hr>
  <!-- like -->
 
  <form action="{% url 'like_post' post.pk %}" method="post">
    {% csrf_token %}

    {% if user.is_authenticated  %}
      {% if liked  %}
        <button type="submit" name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">UnLike</button>
      {% else %}
        <button type="submit" name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
      {% endif %}
    {% else %}
      <small> <button class="btn btn-info "><a class="text-white text-decoration-none" href="{% url 'login' %}">Login</a></button> to like</small>
    {% endif %}
    : {{ total_likes }} Likes
  </form>
<hr>

<!-- comment -->
  <h2>Comment....</h2>
  {{ post.total_comment }} comment
  {% if not post.comments.all %}
      No Comments Yet... 
      <br>
      {% if user.is_authenticated or user.is_superuser %}
        <a class="btn btn-primary my-3" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Add Comment
        </a>
        <div class="collapse" id="collapseExample">
            <div class="form-group">
              <form method="post" action="{% url 'add_comment' post.pk %}"> 
                {% csrf_token %}
                <p>
                <label for="id_body">comment:</label>
                <textarea name="body" cols="20" rows="5" class="form-control" placeholder="Type your content" required id="id_body"> </textarea>
                </p>
                <input type="hidden" name="parent_id" value="None">
                <button class="btn btn-info text-white ">Add Comment</button>
              </form>        
            </div>
        </div>
      {% else %}
        <h3><button class="btn btn-info "><a class="text-white text-decoration-none" href="{% url 'login' %}">Login</a></button> to comment</h3>
      {% endif %}
  {% else %}
    <!-- <a href="{% url 'add_comment' post.pk %}">Add Comment</a> -->
    <br>
    {% for comment in post.comments.all %}
    {% if not comment.parent %}
    <div class="d-flex comment-user">
      <div class="img">
        <img src="media\images\download.png" class="img-thumbnail rounded" style="width: 60px;" alt="">
      </div>
      <div class="comment">
        <strong>
        {% if comment.user %}
        {{ comment.user.username }}
        {% else %}
        {{ user.username }}
        {% endif %} -  {{ comment.date_added }}
        </strong>
        <div>
          {{ comment.body }}
        </div>
      </div>
    </div>
    {% if user.id == comment.post.author.id %}
    <a href="{% url 'delete_comment' post_pk=post.id pk=comment.id %}" class="text-decoration-none" style="margin-left: 80px;">(delete)&nbsp; </a> 
    {% endif %}
    {% if user.is_authenticated or user.is_superuser %}
    <span  data-bs-toggle="collapse" href="#collapseReply{{ comment.id }}" role="button" aria-expanded="false" aria-controls="collapseExample">
      <a class="reply-link text-decoration-none" href="#" data-comment-id="{{ comment.id }}">(reply)</a>
    </span>
    {% endif %}
<!-- reply comment -->
      <div class="collapse" id="collapseReply{{ comment.id }}">
        <div class="reply-form" id="reply-form-{{ comment.id }}" style="display: block;">
          <form method="post" action="{% url 'add_reply'  pk=post.pk parent_id=comment.id %}">
            {% csrf_token %}
            <input type="hidden" name="parent_id" value="{{ comment.id }}">
            <label for="id_body">Reply:</label>
            <textarea name="body" cols="20" rows="4" class="form-control rounded" placeholder="Type your reply" required id="id_body"></textarea>
            {% if user.is_authenticated or user.is_superuser %}
              <button class="btn btn-info text-white my-1">Add Reply</button>
            {% endif %}
          </form>

          
    
        </div>
      </div>
      {% if comment.replies.all %}
      <div class="replies" style="margin-left: 80px;">
        {% for reply in comment.replies.all %}
        <div class="d-flex comment-user">
          <div class="img">
            <img src="media\images\download.png" class="img-thumbnail rounded" style="width: 60px;" alt="">
          </div>
          <div class="comment">
            <strong>
              {{ reply.post.author.username}} -  {{ reply.date_added }}
            </strong>
            <div>
              {{ reply.body }}
            </div>
          </div>
        </div>
        {% if user.id == reply.post.author.id %}
        <a href="{% url 'delete_comment' post_pk=post.id pk=reply.id %}" class="text-decoration-none" style="margin-left: 80px;">(delete)</a>
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
      <br>
      {% endif %}
    {% endfor %}

    <!-- add comment -->
      {% if user.is_authenticated or user.is_superuser %}
        <a class="btn btn-primary mt-4" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Add Comment
        </a>
        <div class="collapse" id="collapseExample">
            <div class="form-group">
              <form method="post" action="{% url 'add_comment' post.pk %}"> 
                {% csrf_token %}
                <p>
                <label for="id_body">comment:</label>
                <textarea name="body" cols="40" rows="10" class="form-control" placeholder="Type your content" required id="id_body"> </textarea>
                </p>
                <input type="hidden" name="parent_id" value="None">
                <button class="btn btn-info text-white">Add Comment</button>
              </form>        
            </div>
        </div>
      {% else %}
        <h3><a href="{% url 'login' %}">Login</a> to comment</h3>
      {% endif %}
      
    {% endif %}
    <hr><br>
  <br>
  <a href="{% url 'index' %}" class="btn btn-info">Back</a>

{% endblock %}
