{% extends 'navbar.html' %}
<div class="d-flex justify-content-between mx-3">
  <div class="left-nav">
    {% block left-nav %}
    <h3 class="text-center py-4">Category List</h3>
    {% for item in cat_menu %}
    <h5>
      <a class="dropdown-item" href="{%  url 'category' item|slugify %}">
        <div class="card-body">
          {{ item }}
        </div>
      </a>
    </h5>
    {% endfor %}
    {% endblock %}
  </div>
  <div class="main-content">
    {% block content %} {% endblock %}
  </div>
  <div class="right-nav">
    {% block right-nav %}
    <h2 class="text-center py-4">Recent Posts</h2>
    {% for post in latest_posts %}
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <div class="post-info">
            <div class="card-title text-capitalize">
              <a href="{% url 'article_details' post.pk %}" class="post-title text-dark text-decoration-none h4 m-auto">{{ post.title }}</a>
            </div>
            <div class="author-info">
                {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date }}
            </div>
          </div>
          <div class="user-action d-flex justify-content-center align-items-center">
            <a href="{% url 'article_details' post.pk %}" class="btn btn-primary">View post</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endblock %}
  </div>
</div>
