{% extends 'base.html' %} {% block content %} 
{% if user.is_authenticated %}
  {% if user.id == post.author.id %}

<h1>Update Post...</h1>
<div class="form-group">
  <form method="post">
    {% csrf_token %} {{form.media}} {{ form.as_p }}
    <label for="checkbox">Publish</label>
    <input type="checkbox" id="toggleButton" name="checkbox" {% if post.is_published %} checked{% endif %}>
    <br><br>
    <button class="btn btn-info">Update</button>
  </form>
</div>
{% else %}
<h1>You are not allow to update because you aren't login</h1>

  {% endif %}
{% endif %}
 {% endblock %}
