
{% extends 'navbar.html' %} 

{% block title %} Edit Profile {%endblock %}

{% block content %} 
<div class="border border-2 py-3" style="margin: 20px 150px; border-radius: 15px">
  <h1 class="text-center my-3">Change Password</h1>
  <div class="change-password-form justify-content-center d-flex">
      <div class="form-group" style="width: 65%;">
        <form method="post">
        {% csrf_token %}  
        <div class="mb-3">
          <label for="id_old_password">Current password:</label>
          <input type="password" name="old_password" class="form-control" required id="id_old_password">
        </div>

        <div class="mb-3">
          <label for="id_new_password1">New password:</label>
          <input type="password" name="new_password1" class="form-control" maxlength="100" required id="id_new_password1">
        </div>
        
        <div class="mb-3">
          <label for="id_new_password2">Comfirm new password:</label>
          <input type="password" name="new_password2" class="form-control" maxlength="100" required id="id_new_password2">
        </div>

        <ul>
          <li>Your password can’t be too similar to your other personal information.</li>
          <li>Your password must contain at least 8 characters.</li>
          <li>Your password can’t be a commonly used password.</li>
          <li>Your password can’t be entirely numeric.</li>
        </ul>
        
        <span class="justify-content-center d-flex">            
          <button class="btn btn-info text-light px-5 py-2 my-2 fs-5">Change Password</button>
        </span>

        </form>       
      </div>
  </div>
</div>
{% endblock %}